*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    z-index: 1;
    width: 100vw;
}

footer{
    margin-top: 75px;
    background-color: black;
}

/* COMMON */

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
}

.no-gap{
    gap: 0;
}

.content{
    width: 100%;
}

ul{
    list-style-type: none;
}

li{
    padding: 0 10px;
}

button{
    background-color: rgb(20, 115, 247);
    color: white;
    padding: 10px 15px;
    border-style: none;
    width: 100%;
}

.bg-color{
    background-color: rgba(124, 181, 255, 0.768);
}

.bg-white{
    background-color: white;
}



i{
    margin-right: 2px;
}

/* UTILITY */

.d-flex{
    display: flex;
}

.d-none{
    display: none;
}

.s-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.margin-30{
    margin: 30px 0;
}

.margin-all > *{
    margin: 20px 0;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

.j-center{
    justify-content: center;
}

.gray-text{
    color: gray;
}



/* CONTAINER */

.container-full{
    width: 100%;
}

.container-w1000{
    max-width: 1000px;
    margin: 0 auto;
}

.container-w900{
    max-width: 900px;
    margin: 0 auto;
}

.sub-container{
    max-width: 80%;
    margin: 0 auto;
}

/* COLUMNS */

.col-100{
    width: 100%;
}

.col-30{
    width: calc(30% - 20px);
}

.col-70{
    width: calc(70% - 20px);
}

.col-40{
    width: calc(40% - 20px)
}

.col-60{
    width: calc(60% - 20px)
}

.col-33{
    width: calc(100% / 3 - 14px);
}

.col-33-f{
    width: calc(100% / 3);
}

.col-50{
    width: 50%;
}

.col-20{
    width: calc(100% / 5 - 20px)
}

.top-col{
    border: 1px solid lightgrey;
    padding: 10px 0;
    margin-bottom: -20px;
}

.bottom-col{
    border: 1px solid lightgrey;
    border-top: none;
}

/* SPECIFIC */

.h75{
    height: 75px;
}

h1{
    margin: 150px 0 40px 0;
    font-size: 75px;
    font-weight: 900;
}

h2{
    font-size: 35px;
    margin-top: 100px;
}

h3{
    font-size: 30px;
    padding-top: 20px;
}

.question{
    width: 100%;
}

.content-w15{
    margin-top: 100px;
    width: 15%;
}

.fa-arrow-down{
    font-size: 30px;
    margin: 60px 0 20px 0;
}

.checked{
    height: 20px;
    width: 20px;
    border: 5px solid #0071ffd9;
    border-radius: 50%;
    margin-right: 5px;
}

.unchecked{
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 5px;
}

.checkbox{
    align-items: center;
    margin-right: 40px;
}

.plan-info{
    display: flex;
}

.plan-info > span{
    padding-left: 5px;
}

.plan-hr{
    width: 20%;
    margin: 40px 0;
}

.plan-ul > li{
    padding: 10px 0;
}

.first-col-br{
    margin-bottom: 172px;
}

.last-col-br{
    margin-bottom: 135px;
}
/* IMG */

.jumbo-img{
    width: 100%;
}

/* PROPERTY TO DELETE */



h4{
    margin-top: 25px;
}


.link{
    width: 25%;
    margin-bottom: 100px;
}

.language{
    margin-top: 30px;
}
